<!-- views/pages/card.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="section_container">

    <div class="card-add"><a href="/cards/new">+</a></div>
    </section>

    <footer class="footer_container">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
