<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="section_container">
      <h2>section-contents</h2>
    </section>

    <footer class="footer_container">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
